<div>
  <h1 class="center-align">ユーザ一覧</h1>
</div>
<table>
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>権限</th>
      <th>処理</th>
    </tr>
  </thead>
  <tbody>
    <% if @users.length == 0 %>
      対象のデータはありません。
    <% else %>  
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>role</td>
          <td>
            <%= link_to "編集", "users/#{user.id}/edit", class: 'waves-effect waves-light btn brown' %>
            <%= link_to "削除", "users/#{user.id}", method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'waves-effect waves-light btn brown' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>