<div class="row">
  <h1 class="center-align">設定資料集</h1>
  <div class="col s12">
    <div class="card grey lighten-2">
      <div class="card-content black-text">
        <span class="card-title">神功皇后紀</span>
        <p>日本国の神話における伝説のヒロイン・神功皇后こと息長姫について記した創作歴史物語。</p>
      </div>
    </div>
  </div>
</div>