<div class="row right">
  <a><%= link_to "戻る", characters_path, class: 'waves-effect waves-light btn brown', style: 'color:white;' %></a>
  <a><%= link_to "編集", "#{@character.id}/edit", class: 'waves-effect waves-light btn brown', style: 'color:white;' %></a>
  <a><%= link_to "削除", "#{@character.id}", method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'waves-effect waves-light btn brown', style: 'color:white;' %></a>
</div>